extends base.pug

block content
    div
        div
            h3= 'Username: ' + usr.username
        div
            h3= 'Email: ' + usr.email
        div
            h3= 'Score: ' + usr.score
        
        p
            a(href=changeHref data-href=changeHref) Change Settings
        p
            a(href='/signout' data-href='/signout') Sign out